body {
  background: #0F1145; }

.nav .nav__link:hover, .intro__movie img:hover, .choice__item h3:hover {
  transition: all .2s linear; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif; }

body {
  color: #8476AA;
  z-index: -10; }
  body:after {
    content: " ";
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    position: absolute;
    display: block;
    width: 100%;
    height: 200vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1; }

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99EFD0; }

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #99EFD0; }

.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1120px;
  height: 100%; }

.header__inner {
  padding-top: 30px;
  display: flex;
  justify-content: space-between; }
  .header__inner .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__inner .header__nav .header__logo {
      margin-right: 44px; }

.nav {
  display: flex;
  justify-content: space-between;
  width: 347px; }
  .nav .nav__link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #B5B5B5; }
    .nav .nav__link:hover {
      color: #F2994A; }

.btn {
  display: flex; }
  .btn .btn__dark {
    width: 112px;
    height: 36px;
    border: 1px solid #F2994A;
    border-radius: 3px;
    color: #F2994A;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    margin-right: 20px; }
    .btn .btn__dark:hover {
      background-color: #040D3E;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      color: #ffffff; }
  .btn .btn__light {
    width: 112px;
    height: 36px;
    border: 1px solid #F2994A;
    border-radius: 3px;
    color: #ffffff;
    background-color: #F2994A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear; }
    .btn .btn__light:hover {
      background-color: #040D3E;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      color: #ffffff; }

.intro {
  position: relative; }
  .intro .into__inner {
    display: grid;
    grid-template-columns: 1fr 1fr; }

.intro__item .intro__title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: #99EFD0;
  padding-top: 135px;
  padding-bottom: 20px; }
.intro__item .intro__text {
  padding-bottom: 40px; }
.intro__item .intro__btn {
  display: flex;
  padding-bottom: 60px; }
  .intro__item .intro__btn .intro__btn__light {
    width: 157px;
    height: 46px;
    border: 1px solid #F2994A;
    border-radius: 3px;
    color: #ffffff;
    background-color: #F2994A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    margin-right: 20px; }
    .intro__item .intro__btn .intro__btn__light:hover {
      background-color: #040D3E;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      color: #ffffff; }
  .intro__item .intro__btn .intro__btn__dark {
    width: 157px;
    height: 46px;
    border: 1px solid #F2994A;
    border-radius: 3px;
    color: #F2994A;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear; }
    .intro__item .intro__btn .intro__btn__dark:hover {
      background-color: #040D3E;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      color: #ffffff; }

.intro__bg {
  position: absolute;
  display: block;
  width: 50%;
  height: 100vh;
  background: url("../images/header__img.png") top left no-repeat;
  background-size: cover;
  transform: translateX(100%);
  top: 100px; }

.intro__movie {
  display: flex;
  justify-content: start; }
  .intro__movie img:hover {
    cursor: pointer;
    transform: scale(1.2); }

.intro__description {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px; }
  .intro__description .intro__preview {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #6D6D78; }
    .intro__description .intro__preview:hover {
      color: #333333; }

.intro__logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 100px;
  opacity: .3; }
  .intro__logo img {
    display: block;
    padding: 0 10px; }

.section--choice {
  background: url("../images/choise_bg.png") top center no-repeat; }

.section__title {
  text-align: center; }
  .section__title h1 {
    padding-top: 95px;
    padding-bottom: 13px; }
  .section__title p {
    padding-bottom: 15px; }

.choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.choice__item {
  position: relative;
  width: 30%;
  margin: 35px 0; }
  .choice__item .choice__icon {
    position: absolute;
    top: 0;
    left: 0; }
  .choice__item h3 {
    padding-left: 52px;
    padding-bottom: 10px; }
    .choice__item h3:hover {
      cursor: pointer;
      color: #F2994A; }
  .choice__item p {
    padding-left: 52px;
    padding-bottom: 15px;
    line-height: 20px; }

.traffic {
  margin-top: 120px;
  display: flex;
  justify-content: space-between; }

.traffic__item {
  width: 50%;
  padding: 0 40px; }
  .traffic__item h1 {
    padding-top: 40px;
    padding-bottom: 32px; }
    .traffic__item h1 span {
      color: #F2994A; }
  .traffic__item .btn__light {
    margin-top: 42px;
    width: 155px;
    height: 48px;
    border: 1px solid #F2994A;
    border-radius: 3px;
    color: #ffffff;
    background-color: #F2994A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear; }
    .traffic__item .btn__light:hover {
      background-color: #040D3E;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      color: #ffffff; }

.computer__inner {
  margin-top: 150px;
  position: relative;
  text-align: center; }
  .computer__inner h1 {
    padding-bottom: 32px; }
  .computer__inner span {
    color: #F2994A; }

.computer__content {
  display: flex;
  justify-content: space-between; }

.computer__item {
  margin-top: 48px;
  width: 30%;
  text-align: center; }
  .computer__item h1 {
    padding-bottom: 16px; }

.computer__bg {
  display: block;
  position: absolute;
  background: url("../images/Computer_bg.png") center;
  background-size: cover;
  width: 386px;
  height: 580px;
  transform: rotate(-10deg);
  left: -220px;
  top: -300px;
  z-index: -1; }

.project {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 160px;
  background: url("../images/project_bg.png") bottom no-repeat; }
  .project h1 {
    padding-bottom: 46px; }
  .project span {
    color: #F2994A; }
  .project .btn__light {
    margin-bottom: 353px;
    width: 164px;
    height: 54px;
    border: 1px solid #F2994A;
    border-radius: 3px;
    color: #ffffff;
    background-color: #F2994A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear; }
    .project .btn__light:hover {
      background-color: #040D3E;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      color: #ffffff; }

.business__img {
  position: relative; }

.business__bg {
  display: block;
  width: 818px;
  height: 461px;
  background: url("../images/business_bg.png") no-repeat;
  z-index: -1;
  position: absolute;
  left: -220px;
  top: 0; }

/*# sourceMappingURL=styles.css.map */
